/* Container styles */
div,
.container {
  text-align: center;
  height: 100vh;
}

/* Form styles */
form {
  margin: 0 auto; /* Center the form */
}

/* Label styles */
label {
  display: block;
  margin-bottom: 10px;
}

/* Input styles */
input {
  padding: 8px;
  margin-bottom: 10px;
}
