

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Single File</h1>
            <input type="text"  [(ngModel)]="link">
            <button (click)="submitFile()">Submit</button>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <h1>Project</h1>
                <input type="text"  [(ngModel)]="link">
                <button (click)="submitProject()">Submit</button>
            </div>
        </div>
    </div>
</div>