<!DOCTYPE html>
<html lang="en">

  <div id="container">
    <div id="mockup">
      <button id="button1" class="button">Perform Static Data Flow Testing</button>
      <button id="button2" class="button">Perform Static Control Flow Testing</button>
      <div id="logo">
        <img src="../../assets/logo.jpg" alt="Logo">
      </div>
      <button id="projectTitle" class="button">View Project Features</button>
      <button id="manualTitle" class="button">View User Manual</button>
    </div>
  </div>
